<%-include("partials/header");-%>
<body class="assignmentsTab">

                    <form id="assignmentsTab" action="/assignmentsTab" method="POST">
                    </form>
                    <p><%=assignments[0].topic%></p>


</body>
</html>