<%-include("partials/header");-%>


<body class="homepage">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <h1>Welcome to LMS</h1>
    <h3><%=message%></h3>
    <!-- <<script src="/js/index.js"></script> -->
</body>
</html>