<%-include("partials/header");-%>
<body class="mainpage">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <h1>Welcome to LMS</h1>

    <form action="/login" method="POST">

        <h3>User ID</h3>
        <input type="text" placeholder="User" name="userID">
        <h3>Password</h3>
        <input type="password" placeholder="Password" name="password">
        <br><br>
        <button type="submit">Login In</button>    
        <br>
    </form>
    <br><br>
    <h5><%=message%></h5>
    <!-- <<script src="/js/index.js"></script> -->
</body>
</html>