<%-include("partials/header");-%>
<body onload="foo({ fo: '<%= myVar %>'})">
    <section class="vh-100" style="background-image:url('https://cdn.techjuice.pk/wp-content/uploads/2020/11/LUMS-1024x434.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="container h-100 w-50">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 10px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center align-items-center">
                    <div class="mt-3 h-25 w-25">
                        <img class="img-fluid" src="https://www.pngitem.com/pimgs/m/508-5084634_image-result-for-tick-icon-circle-hd-png.png" alt="Not found"/>
                    </div>
                    <br>
                    <div class="mt-3">
                        <p class="display-6 text-center"><%= myVar %></p>
                    </div>
                    <blockquote class="mt-2">
                        <p class=" text-center" style="font-size: 16px;"><%= extra %> Redirecting to Homepage.</p>
                    </blockquote>
                    <div class="spinner-border text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>   
      <script>
        setTimeout(function(){
            window.location.href = '/main';}, 3000);
      </script>
</body>
</html>




