<%-include("partials/header");-%>
<body class="removeExistingCourse">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <h1>Remove Existing Course</h1>


    <form action="/removeExistingCourse" method="POST">
    <div>

        <h3>Course Name</h3>
        <input type="text" placeholder="Course Name" name="courseName">

        <br> <br>


        <h3>Course Code</h3>
        <input type="text" placeholder="Course Code" name="courseCode">

        <br> <br>
        
        <div>
            <button type="submit">Confirm</button>
        </div>   
    </div>
    </form>
    <h3><%=message%></h3>
    <!-- <<script src="/js/index.js"></script> -->
</body>
</html>