<%-include("partials/header");-%>
<body class="updatePassword">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <h1>Update Password</h1>


    <form action="/updatePassword" method="POST">
    <div>
        <div>
            <h3>User ID</h3>
            <input type="text" placeholder="User" name="userID">
        </div>
        
        <br><br>

        <div>
            <h3>Old Password</h3>
            <input type="password" placeholder="Enter Old Password" name="oldPass">
        </div>

        <br> <br>

        <div>
            <h3>New Password</h3>
            <input type="password" placeholder="Enter New Password" name="newPass">
        </div>
        
        <br> <br>

        <div>
            <h3>Re-Enter New Password</h3>
            <input type="password" placeholder="Re-Enter New Password" name="rePass">
        </div>
        
        <br> <br> 

        <div>
            <button type="submit">Update Password</button>
        </div>   
    </div>
    </form>
    <h5><%=message%></h5>
    <!-- <<script src="/js/index.js"></script> -->
</body>
</html>