<%-include("partials/header");-%>
<body class="updatePassword">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <h1>Update Password</h1>


    <form action="/updatePassword" method="POST">
    <div>
        <h3>User ID</h3>
        <input type="text" placeholder="User" name="userID">
        <h3>Password</h3>
        <input type="password" placeholder="Password" name="password">
        <h3>Re-type Password</h3>
        <input type="password" placeholder="Re-type Password" name="re_password">
        <div>
            <button type="submit"class="btn btn-space">Update Password</button>
        </div>   
    </div>
    </form>
    <h3><%=message%></h3>
    <!-- <<script src="/js/index.js"></script> -->
</body>
</html>